.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    float: left;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: green;
    color: blue;
    text-align: center;
    text-transform: uppercase;
  }
  
.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    float: left;
    margin: 20px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 15px;
    color: blue;
    text-align: center;
    border-color: red;
  }
  
.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    float: left;
    margin: 20px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 15px;
    color: blue;
    text-align: center;
    border-color: yellow;
  }
